body {
  font-family: monospace;
  
     
  background-image: radial-gradient(circle, #044f76, #00759e, #009ec3, #00c8e4, #00f4ff);
  
}
.container {
  width: 80%;
  margin: 40px auto;
  background-color: #0202078c;
  padding: 20px;
  border: 1px solid #050208;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.code-editor {
  width: 47%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  border: 1px solid #05020870;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  background-color: #333; /* dark background */
  color: #fff; /* white text */
}
.code-editor:first-child{
  margin-right: 20px;
}
.output {
  color: #fff;
  margin-top: 1rem;
  width: 47%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: monospace;
  border: 1px solid #050208;
  background-color: #333;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}
.button:hover {
  background-color: #3e8e41;
}

.language-select {
  /*width: 100%; 
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
*/
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.language-select:hover {
  background-color: #3e8e41;
}